body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.panel-body-form {

    background-color: #dbefe699;
}
.panel-form {

    color: black;
    background-color: #1ce0cb;
    border-color: #d6e9c6;
    border-top-color: rgb(214, 233, 198);
    border-right-color: rgb(214, 233, 198);
    border-bottom-color: rgb(214, 233, 198);
    border-left-color: rgb(214, 233, 198);
}